<%= form_for @contact do |f| %>

	<% if @contact.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
	 
	    <ul>
	    <% @contact.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

  <%= stylesheet_link_tag 'bootstrap_custom' %>

	<div class="container">
		<div class="row">
	    <div class="col-lg-5 col-md-4 col-sm-4">
	      <div class="form-group">          
	        <%= f.label "Company:", class: "form-label" %>
	        <%= f.text_field :company, class: "form-control", id: "company" %>
	        <%= f.select :company_type, ['', 'LLC', 'DBA', 'INC', 'Unknown'], class: "form-control suffix" %>
	      </div>
	    </div>

      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="form-group">
          <%= f_text_field f, @contact, :tax_id, :class => "form-control", :id => "tax_id", :f_label => "Tax ID" %>
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="form-group">
          <%= f.label :drivers_License, 'Drivers License #', class: "form-label" %>
          <%= f.text_field :drivers_license, class: "form-control" %>
        </div>
      </div>

	    <div class="col-lg-2 col-md-2 col-sm-2">
	      <div class="form-group">          
	        <%= f_text_field f, @contact, :sf_id, :class => "form-control", :id => "sf_id", :f_label => "SF ID" %>
	      </div>
	    </div>	    
	  </div> <!-- row -->

	  <div class="row">
	    <div class="col-lg-5 col-md-4 col-sm-4">
        <%= f.label :name, 'Name:', class: "form-label" %>
        <div class="form-group" id="highlight2">  
          <%= f.text_field :name, class: "form-control first" %>
          <%= f.text_field :last_name, class: "form-control last" %>
          <%= f.select :name_suffix, ['', 'Sr', 'Jr', 'II', 'III'], class: "suffix" %>
        </div>
	    </div>

	    <div class="col-lg-2 col-md-2 col-sm-3">
	      <div class="form-group">          
	        <%= f.label "Goes by:", class: "form-label" %>
	        <%= f.text_field :goes_by, class: "form-control" %>
	      </div>
	    </div>

	    <div class="col-md-2 col-sm-3">
	      <div class="form-group">
				  <% if @contact.goes_by.blank? %>
					  <strong><%= @contact.name %> SSN#</strong>
					<% else %>
					  <strong><%= @contact.goes_by %> SSN#</strong>
					<% end %>
	          <br>
	        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
	          Social Security Number
	        </button>
	      </div>
	    </div>

	    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title" id="myModalLabel">Social Security Social</h4>
	          </div>
		        <div class="modal-body">
		          <div class="row">
		            <div class="col-md-2 col-sm-2 col-md-offset-3">
		              <div class="form-inline">
		                <%= f.text_field :ssn, class: "form-control", id: "social" %>
	                    <script type="text/javascript">
	                      $(document).ready(function(){
	                        $('#social').mask('000-00-0000', {placeholder: "000-00-0000"});
	                      });
	                    </script>
		              </div>
		            </div>
		          </div>
		        </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-primary">Save changes</button>
	          </div>
		      </div>
		    </div>
		  </div>

	    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">
	      <div class="form-group">
				  <% if @contact.goes_by.blank? %>
					  <strong><%= @contact.name %> D.O.B.</strong>
				  <% else %>
					  <strong><%= @contact.goes_by %> D.O.B.</strong>
				  <% end %>
	          <%= f.text_field :date_of_birth, class: "form-control", id: "date" %>
	       </div>
	    </div>
	  </div>  <!-- row -->

	  <div class="row">
	    <div class="col-lg-5 col-md-4 col-sm-4">
	      <%= f.label 'Spouse Name:', class: "form-label" %>
        <div class="form-group">
          <%= f.text_field :spouse_first_name, class: "form-control first" %>
          <%= f.text_field :spouse_last_name, class: "form-control last" %>
        </div>
	    </div>

      <div class="col-lg-2 col-md-2 col-sm-3">
        <div class="form-group">
          <%= f.label :spouse_goes_by, 'Spouse Goes By:', class: "form-label" %>
          <%= f.text_field :spouse_goes_by, class: "form-control" %>
        </div>
      </div>

	    <div class="col-md-2 col-sm-3">
	      <div class="form-group">
				  <% if @contact.spouse_goes_by.blank? %>
					  <strong><%= @contact.spouse_first_name %> SSN#</strong>
					<% else %>
					  <strong><%= @contact.spouse_goes_by %> SSN#</strong>
					<% end %>
	          <br>
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2">
            Social Security Number
          </button>
	      </div>
	    </div>

	      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	              <h4 class="modal-title" id="myModalLabel">Social Security Social</h4>
	            </div>

	            <div class="modal-body">
	              <div class="row">
	                <div class="col-md-3 col-sm-3 col-md-offset-3">
	                  <div class="form-inline">
	                    <%= f.text_field :spouse_ssn, class: "form-control", id: "social-2" %>
                        <script type="text/javascript">
                          $(document).ready(function(){
                            $('#social-2').mask('000-00-0000', {placeholder: "000-00-0000"});
                          });
                        </script>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary">Save changes</button>
	            </div>
	          </div>
	        </div>
	      </div>

			<div class="col-lg-2 col-md-2 col-sm-2">
	      <div class="form-group">
				  <% if @contact.spouse_goes_by.blank? %>
					  <strong><%= @contact.spouse_first_name %> D.O.B.</strong>
					<% else %>
					  <strong><%= @contact.spouse_goes_by %> D.O.B.</strong>
					<% end %>
	          <%= f.text_field :spouse_date_of_birth, class: "form-control", id: "date2" %>
	      </div>
	    </div>
		</div>  <!-- row -->

	  <div class="row">
	    <div class="col-lg-4 col-md-4 col-sm-4">
	      <div class="form-group">          
	        <%= f.label "Company 2:", class: "form-label" %>
	        <%= f.text_field :company2, class: "form-control", id: "company" %>
	        <%= f.select :company_type2, ['', 'LLC', 'DBA', 'INC', 'Unknown'], class: "form-control suffix" %>
	      </div>
	    </div>

	    <div class="col-lg-4 col-md-4 col-sm-4 col-md-offset-1">
	      <div class="form-group">          
	        <%= f.label "Company 3:", class: "form-label" %>
	        <%= f.text_field :company3, class: "form-control", id: "company" %>
	        <%= f.select :company_type3, ['', 'LLC', 'DBA', 'INC', 'Unknown'], class: "form-control suffix" %>
	      </div>
	    </div>

	    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">
	      <div class="form-group">
				  <% if @contact.goes_by.blank? %>
					  <strong><%= @contact.spouse_first_name %> DL#</strong>
				  <% else %>
					  <strong><%= @contact.spouse_goes_by %> DL#</strong>
				  <% end %>
	          <%= f.text_field :spouse_drivers_license, class: "form-control", id: "date" %>
	       </div>
	    </div>
	  </div>

    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="form-group">          
				  <% if @contact.goes_by.blank? %>
					  <strong><%= @contact.name %> Cell:</strong>
				  <% else %>
					  <strong><%= @contact.goes_by %> Cell:</strong>
				  <% end %>
          <%= f.text_field :cell_phone, class: "form-control", id: "phone3" %>
        </div>

        <div class="form-group">          
				  <% if @contact.spouse_goes_by.blank? %>
					  <strong><%= @contact.spouse_first_name %> Cell:</strong>
				  <% else %>
					  <strong><%= @contact.spouse_goes_by %> Cell:</strong>
				  <% end %>
          <%= f.text_field :spouse_cell_phone, class: "form-control", id: "phone2" %>
        </div>

	      <div class="form-group">
	        <%= f_text_field f, @contact, :company_phone, :class => "form-control", :id => "phone1", :f_label => "Company Phone" %>
	      </div>

	      <div class="form-group">
	        <%= f_text_field f, @contact, :home_phone, :class => "form-control", :id => "phone4", :f_label => "Home Phone" %>
				</div>

			  <div class="form-group">
          <%= f.text_field :alt_phone_1_place, placeholder: 'Alt Phone 1:', class: "form-label" %>
          <%= f.text_field :alt_phone_1, class: "form-control", id: "altphone" %>
	      </div>

	      <div class="form-group">
          <%= f.text_field :alt_phone_2_place, placeholder: 'Alt Phone 2:', class: "form-label" %>
          <%= f.text_field :alt_phone_2, class: "form-control", id: "altphone2" %>
	      </div>

	      <div class="form-group">
          <%= f.text_field :alt_phone_3_place, placeholder: 'Alt Phone 3:', class: "form-label" %>
          <%= f.text_field :alt_phone_3, class: "form-control", id: "altphone3" %>
	      </div>

	      <div class="form-group">
          <%= f.text_field :alt_phone_4, placeholder: 'Alt Phone 4:', class: "form-label" %>
          <%= f.text_field :alt_phone_4_place, class: "form-control", id: "altphone4" %>
	      </div>
	    </div> <!-- col-lg-2 col-md-2 -->

			<div class="col-md-3 col-sm-4 col-md-offset-1">
		    <%= f.label :companyNameBox1, "Address Box:" %>
		    <div class="form-group" id="addressBorder">
		      <%= f.text_field :companyNameBox1, placeholder: 'Company Name:', class: "form-control" %>
					<%= f.text_area :addressLinesBox1, class: "form-control", :rows => 3,  placeholder: "Address Line 1:\nAddress Line 2:\nAddress Line 3:" %>
		      <%= f.text_field :county_box1, placeholder: 'County:', class: "form-control" %>
		    </div>
		  </div>

		  <div class="col-md-3 col-sm-4 col-md-offset-1">
		    <%= f.label :companyNameBox1, "Address Box:" %>
	      <div class="form-group" id="addressBorder">
	        <%= f.text_field :contactNamesBox2, placeholder: 'Names on Address:', class: "form-control" %>
				  <%= f.text_area :addressLinesBox2, class: "form-control", :rows => 3,  placeholder: "Address Line 1:\nAddress Line 2:\nAddress Line 3:" %>
	        <%= f.text_field :county_box2, placeholder: 'County:', class: "form-control" %>
		    </div>
		  </div>

		  <div class="col-md-3 col-sm-4 col-md-offset-1">
		    <%= f.label :companyNameBox1, "Address Box:" %>
		    <div class="form-group" id="addressBorder">
		      <%= f.text_field :additionalAddressBox3, placeholder: 'Additional Address:', class: "form-control" %>
					<%= f.text_area :addressLinesBox3, class: "form-control", :rows => 3,  placeholder: "Address Line 1:\nAddress Line 2:\nAddress Line 3:" %>
		      <%= f.text_field :county_box3, placeholder: 'County:', class: "form-control" %>
		    </div>
		  </div>

		  <div class="col-md-3 col-sm-4 col-md-offset-1">
		    <%= f.label :companyNameBox1, "Address Box:" %>
		    <div class="form-group" id="addressBorder">
		      <%= f.text_field :additionalAddressBox3, placeholder: 'Additional Address:', class: "form-control" %>
			    <%= f.text_area :addressLinesBox4, class: "form-control", :rows => 3,  placeholder: "Address Line 1:\nAddress Line 2:\nAddress Line 3:" %>
		      <%= f.text_field :county_box4, placeholder: 'County:', class: "form-control" %>
		    </div>
		  </div>

		  <div class="col-md-3 col-md-offset-3">     
		    <%= f.label "Select State:" %>
		    <%= select_tag :us_states, options_for_select(us_states), class: "combobox form-control" %>
	        <script type="text/javascript">
	          $(document).ready(function(){
	            $('.combobox').combobox();
	          });
	        </script>
		  </div>
	  </div> <!-- row -->
	
    <div class="row">
      <div class="col-md-5 col-sm-4">
        <div class="form-group">
				  <% if @contact.goes_by.blank? %>
					  <strong><%= @contact.name %> Email:</strong>
				  <% else %>
					  <strong><%= @contact.goes_by %> Email:</strong>
				  <% end %>
            <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>   

      <div class="col-md-5 col-sm-4 col-lg-offset-1">
        <div class="form-group">
				  <% if @contact.spouse_goes_by.blank? %>
					  <strong><%= @contact.spouse_first_name %> Email:</strong>
				  <% else %>
					  <strong><%= @contact.spouse_goes_by %> Email:</strong>
				  <% end %>
            <%= f.text_field :spouse_email, class: "form-control" %>
        </div>
      </div> 
    </div>  <!-- row -->

    <div class="row">
      <div class="col-md-5 col-sm-4">
        <div class="form-group">
          <%= f.label :web_address, 'Web Address:', class: "form-label" %>
          <%= f.text_field :web_address, class: "form-control" %>
        </div>
      </div>   

      <div class="col-md-5 col-sm-4 col-lg-offset-1">
        <div class="form-group">
          <%= f.text_field :alt_email_label, placeholder: 'Alt Email:', class: "form-label-3" %>
          <%= f.text_field :alt_email, class: "form-control" %>
        </div>
      </div>    
    </div>  <!-- row -->
		
	  <div class="row">
		  <div class="col-lg-1">
			  <div class="form-group">
				  <%= f.label "Urgent:" %>
				  <%= f.select :urgent, ['No', 'Yes'] %>
			  </div>
		  </div>

		  <div class="col-md-10">
			  <div class="form-group">
				  <%= f.label "Additional info:" %>
				  <%= f.text_area :additional_info, class: "form-control", :rows => 5 %>
			  </div>
		  </div>
	  </div>  <!-- row -->

		<p class="submits">
			<%= link_to 'Cancel', contacts_path, :class => 'btn btn-mini btn-danger', :data => { :confirm => "Are you sure you want to go back?" } %>
			<%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
		</p>

  </div>  <!-- CONTAINER -->

<% end %>
