<h2>View Contact</h2>

	<%= render 'layouts/contact_nav' %>

<%= form_for @contact do |f| %>

	<% if @contact.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
	 
	    <ul>
	    <% @contact.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

  <%= stylesheet_link_tag 'bootstrap_custom' %>

	<div class="container">
		<div class="<%= 'urgent' if @contact.urg %>">

			<div class="row">

	<div id='comps'>
    <%= f.fields_for :comps do |comp| %>
      <%= render 'comp_fields', :f => comp %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add company', f, :comps %>
    </div>
  </div>

				<div class="<%= 'null' if @contact.company.blank?	 %>">
		    	<div class="col-lg-5 col-md-4 col-sm-4">
		      	<div class="form-group">
		      		<%= link_to "+", 'javascript:void(0)', class: "btn btn-sm btn-primary" %>
							<%= f.text_field :company_label, :value => @contact.company_label.blank? ? "Company:" : @contact.company_label, class: "form-label-3" %>
		        	<%= f.text_field :company, class: "form-control", id: "company" %>
		        	<%= f.select :company_type, ['', 'LLC', 'DBA', 'INC', 'Unknown'], class: "form-control suffix" %>
		      	</div>
		    	</div>
		  	</div>

				<div class="<%= 'null' if @contact.tax_id.blank? %>">
      		<div class="col-lg-2 col-md-2 col-sm-3">
        		<div class="form-group">
          		<%= f_text_field f, @contact, :tax_id, :class => "form-control", :id => "tax_id", :f_label => "Tax ID" %>
        		</div>
      		</div>
				</div>

				<div class="<%= 'null' if @contact.drivers_license.blank? %>">
		    	<div class="col-lg-2 col-md-2 col-sm-3">
		      	<div class="form-group">
		        	<%= f.text_field :drivers_license_label, :value => @contact.drivers_license_label.blank? ? "#{@contact.correct_name} DL#:" : @contact.drivers_license_label, class: "form-label" %>
		        	<%= f.text_field :drivers_license, class: "form-control" %>
		      	</div>
		    	</div>
		    </div>

				<div class="<%= 'null' if @contact.spouse_drivers_license.blank?  %>">
	    		<div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">
	     			<div class="form-group">
							<%= f.text_field :spouse_drivers_license_label, :value => @contact.spouse_drivers_license_label.blank? ? "#{@contact.spouse_correct_name} DL#" : @contact.spouse_drivers_license_label, class: "form-label" %>
	          	<%= f.text_field :spouse_drivers_license, class: "form-control" %>
	       		</div>
	    		</div>
	    	</div>

	    	<div class="col-lg-1 col-md-1 col-sm-2">
	      	<div class="form-group">          
	        	<%= f_text_field f, @contact, :sf_id, :class => "form-control", :id => "sf_id", :f_label => "SF ID" %>
	      	</div>
	    	</div>	    
	  	</div> <!-- ROW -->
		</div> <!-- URGENT -->
		
	  	<div class="row">
	  		<div class="<%= 'urgent' if @contact.urg %>">
		    	<div class="col-lg-5 col-md-4 col-sm-4">
	        	<%= f.label :name, 'Name:', class: "form-label" %>
	        	<div class="form-group" id="highlight2">  
	          	<%= f.text_field :name, class: "form-control first" %>
	          	<%= f.text_field :last_name, class: "form-control last" %>
	          	<%= f.select :name_suffix, ['', 'Sr', 'Jr', 'II', 'III'], class: "suffix" %>
	        	</div>
		    	</div>
		    </div>

				<div class="<%= 'null' if @contact.goes_by.blank? %>">
		    	<div class="col-lg-2 col-md-2 col-sm-3">
		      	<div class="form-group">          
		        	<%= f.label "Goes by:", class: "form-label" %>
		        	<%= f.text_field :goes_by, class: "form-control" %>
		      	</div>
		    	</div>
	    	</div>

				<div class="<%= 'null' if @contact.ssn.blank? %>">
	    		<div class="col-md-2 col-sm-3">
	      		<div class="form-group">
							<%= f.text_field :ssn_label, :value => @contact.ssn_label.blank? ? "#{@contact.correct_name} SSN:" : @contact.ssn_label, class: "form-label" %>

	        		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
	          		Social Security Number
	        		</button>
	      		</div>
	    		</div>
	    	</div>

		    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		      <div class="modal-dialog" role="document">
		        <div class="modal-content">
		          <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		            <h4 class="modal-title" id="myModalLabel">Social Security Social</h4>
		          </div>
			        <div class="modal-body">
			          <div class="row">
			            <div class="col-md-2 col-sm-2 col-md-offset-3">
			              <div class="form-inline">
			                <%= f.text_field :ssn, class: "form-control", id: "social" %>
		                    <script type="text/javascript">
		                      $(document).ready(function(){
		                        $('#social').mask('000-00-0000', {placeholder: "000-00-0000"});
		                      });
		                    </script>
			              </div>
			            </div>
			          </div>
			        </div>
		          <div class="modal-footer">
		            <button type="submit" class="btn btn-primary">Save changes</button>
		          </div>
			      </div>
			    </div>
			  </div>

				<div class="<%= 'null' if @contact.date_of_birth.blank? %>">
		    	<div class="col-lg-2 col-md-2 col-sm-2 col-sx-2">
		      	<div class="form-group">
							<%= f.text_field :date_of_birth_label, placeholder: "#{@contact.correct_name} D.O.B", class: "form-label" %>
		          <%= f.text_field :date_of_birth, class: "form-control", id: "date" %>
		       	</div>
		    	</div>
		    </div>
	  	</div>  <!-- row -->

	  	<div class="row">
	  		<div class="<%= 'null' if @contact.spouse_first_name.blank? && @contact.spouse_last_name.blank? %>">
		    	<div class="col-lg-5 col-md-4 col-sm-4">
		      	<%= f.label 'Spouse Name:', class: "form-label" %>
	        	<div class="form-group">
	          	<%= f.text_field :spouse_first_name, class: "form-control first" %>
	          	<%= f.text_field :spouse_last_name, class: "form-control last" %>
	        	</div>
		    	</div>
				</div>

				<div class="<%= 'null' if @contact.spouse_goes_by.blank? %>">
	      	<div class="col-lg-2 col-md-2 col-sm-3">
	        	<div class="form-group">
	          	<%= f.label :spouse_goes_by, 'Spouse Goes By:', class: "form-label" %>
	          	<%= f.text_field :spouse_goes_by, class: "form-control" %>
	        	</div>
	      	</div>
      	</div>

				<% if @contact.spouse_ssn.blank? %>
					<div class="null">
				    <div class="col-md-2 col-sm-3">
				      <div class="form-group">
								<%= f.text_field :spouse_ssn_label, :value => @contact.spouse_ssn_label.blank? ? "#{@contact.spouse_correct_name} SSN:" : @contact.spouse_ssn_label, class: "form-label" %>
				          <br>
			          <button type="button" class="btn btn-default btn-sm null" data-toggle="modal" data-target="#myModal2">
			            Social Security Number
			          </button>
				      </div>
				    </div>
			    </div>
			  <% else %>
			    <div class="col-md-2 col-sm-3">
			      <div class="form-group">
							<%= f.text_field :spouse_ssn_label, placeholder: "#{@contact.spouse_correct_name} SSN:", class: "form-label" %>
			          <br>
		          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2">
		            Social Security Number
		          </button>
			      </div>
			    </div>
			  <% end %>

	      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	              <h4 class="modal-title" id="myModalLabel">Social Security Social</h4>
	            </div>

	            <div class="modal-body">
	              <div class="row">
	                <div class="col-md-3 col-sm-3 col-md-offset-3">
	                  <div class="form-inline">
	                    <%= f.text_field :spouse_ssn, class: "form-control", id: "social-2" %>
                        <script type="text/javascript">
                          $(document).ready(function(){
                            $('#social-2').mask('000-00-0000', {placeholder: "000-00-0000"});
                          });
                        </script>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="modal-footer">
	                <button type="submit" class="btn btn-primary">Save changes</button>
	            </div>
	          </div>
	        </div>
	      </div>

				<div class="<%= 'null' if @contact.spouse_date_of_birth.blank? %>">
					<div class="col-lg-2 col-md-2 col-sm-2">
		      	<div class="form-group">
							<%= f.text_field :spouse_date_of_birth_label, :value => @contact.spouse_date_of_birth_label.blank? ? "#{@contact.spouse_correct_name} D.O.B" : @contact.spouse_date_of_birth_label, class: "form-label" %>
	          	<%= f.text_field :spouse_date_of_birth, class: "form-control", id: "date2" %>
		      	</div>
		    	</div>
				</div>
			</div>  <!-- row -->

	    <div class="row">
	    	<div class="<%= 'null' if @contact.cell_phone.blank? %>">
      		<div class="col-lg-2 col-md-2">
	        	<div class="form-group">          
							<%= f.text_field :cell_phone_label, :value => @contact.cell_phone_label.blank? ? "#{@contact.correct_name} Cell:" : @contact.cell_phone_label, class: "form-label" %>
	          	<%= f.text_field :cell_phone, class: "form-control", id: "phone3" %>
						</div>


						<div class="<%= 'null' if @contact.spouse_cell_phone.blank?  %>">
	        		<div class="form-group">
								<%= f.text_field :spouse_cell_phone_label, :value => @contact.spouse_cell_phone_label.blank? ? "#{@contact.spouse_correct_name} Cell:" : @contact.spouse_cell_phone_label, class: "form-label" %>
	          		<%= f.text_field :spouse_cell_phone, class: "form-control", id: "phone2" %>
	        		</div>
	      		</div>

						<div class="<%= 'null' if @contact.company_phone.blank?  %>">
		      		<div class="form-group">
		      			<%= f.text_field :company_phone_label, :value => @contact.company_phone_label.blank? ? "Company Phone:" : @contact.company_phone_label, class: "form-label" %>
		        		<%= f.text_field :company_phone, class: "form-control", id: "phone1" %>
		      		</div>
		      	</div>

						<div class="<%= 'null' if @contact.home_phone.blank? %>">
		      		<div class="form-group">
				        <%= f.text_field :home_phone_label, class: "form-label", :value => @contact.home_phone_label.blank? ? "Home Phone:" : @contact.home_phone_label %>
				        <%= f.text_field :home_phone, class: "form-control", id: "phone4" %>
							</div>
						</div>

						<div class="<%= 'null' if @contact.alt_phone_1.blank? %>">
				  		<div class="form-group">
	          		<%= f.text_field :alt_phone_1_place, :value => @contact.alt_phone_1_place.blank? ? "Alt Phone 1:" : @contact.alt_phone_1_place, class: "form-label" %>
	          		<%= f.text_field :alt_phone_1, class: "form-control", id: "altphone" %>
		      		</div>
						</div>
				
						<div class="<%= 'null' if @contact.alt_phone_2.blank? %>">
		      		<div class="form-group">
	          		<%= f.text_field :alt_phone_2_place, :value => @contact.alt_phone_2_place.blank? ? "Alt Phone 2:" : @contact.alt_phone_2_place, class: "form-label" %>
	          		<%= f.text_field :alt_phone_2, class: "form-control", id: "altphone2" %>
		      		</div>
						</div>

						<div class="<%= 'null' if @contact.alt_phone_3.blank? %>">
		      		<div class="form-group">
	          		<%= f.text_field :alt_phone_3_place, :value => @contact.alt_phone_3_place.blank? ? "Alt Phone 3:" : @contact.alt_phone_3_place, class: "form-label" %>
	          		<%= f.text_field :alt_phone_3, class: "form-control", id: "altphone3" %>
		      		</div>
		      	</div>

						<div class="<%= 'null' if @contact.alt_phone_4.blank? %>">
		      		<div class="form-group">
	   		       <%= f.text_field :alt_phone_4_place, :value => @contact.alt_phone_4_place.blank? ? "Alt Phone 4:" : @contact.alt_phone_4_place, class: "form-label" %>
	      		    <%= f.text_field :alt_phone_4, class: "form-control", id: "altphone4" %>
		      		</div>
		      	</div>
	    		</div> <!-- col-lg-2 col-md-2 -->

					<div class="<%= 'null' if @contact.address_box_1.blank? %>">
						<div class="col-md-3 col-sm-4 col-md-offset-1">
			    		<%= f.text_field :address_box_1_label, placeholder: 'Address Box:', class: "form-label-3" %>
			    		<div class="form-group" id="addressBorder">
								<%= f.text_area :address_box_1, class: "form-control", :rows => 4,  placeholder: "#{@contact.company}, #{@contact.company_type}\nAddress Line 1:\nAddress Line 2:\nAddress Line 3:" %>
			      		<%= f.text_field :county_box1, placeholder: 'County:', class: "form-control" %>
			    		</div>
			  		</div>
			  	</div>

					<div class="<%= 'null' if @contact.address_box_2.blank? %>">
			  		<div class="col-md-3 col-sm-4 col-md-offset-1">
							<%= f.text_field :address_box_2_label, placeholder: 'Address Box:', class: "form-label-3" %>
		      		<div class="form-group" id="addressBorder">
					  		<%= f.text_area :address_box_2, class: "form-control", :rows => 4,  placeholder: "#{@contact.full_name} & #{@contact.spouse_full_name}\nAddress Line 1:\nAddress Line 2:\nAddress Line 3:" %>
		        		<%= f.text_field :county_box2, placeholder: 'County:', class: "form-control" %>
			    		</div>
			  		</div>
			  	</div>
			
					<div class="<%= 'null' if @contact.address_box_3.blank? %>">
			  		<div class="col-md-3 col-sm-4 col-md-offset-1">
			    		<%= f.text_field :address_box_3_label, placeholder: 'Address Box:', class: "form-label-3" %>
			    		<div class="form-group" id="addressBorder">
								<%= f.text_area :address_box_3, class: "form-control", :rows => 4,  placeholder: "Additional Address:\nAddress Line 1:\nAddress Line 2:\nAddress Line 3:" %>
			      		<%= f.text_field :county_box3, placeholder: 'County:', class: "form-control" %>
			    		</div>
			  		</div>
			  	</div>

					<div class="<%= 'null' if @contact.address_box_4.blank? %>">
			  		<div class="col-md-3 col-sm-4 col-md-offset-1">
							<%= f.text_field :address_box_4_label, placeholder: 'Address Box:', class: "form-label-3 null" %>
			    		<div class="form-group" id="addressBorder">
				    		<%= f.text_area :address_box_4, class: "form-control null", :rows => 4,  placeholder: "Additional Address:\nAddress Line 1:\nAddress Line 2:\nAddress Line 3:" %>
			      		<%= f.text_field :county_box4, placeholder: 'County:', class: "form-control null" %>
			    		</div>
			  		</div>
			  	</div>
			  </div>

		  	<div class="col-md-3 col-md-offset-3">     
		    	<%= f.label "Select State:" %>
		    	<%= select_tag :us_states, options_for_select(us_states), class: "combobox form-control" %>
	        	<script type="text/javascript">
	          	$(document).ready(function(){
	            	$('.combobox').combobox();
	          	});
	        	</script>
		  	</div>

	  	</div> <!-- row -->
	
    	<div class="row">
    		<div class="<%= 'null' if @contact.email.blank? %>">
		      <div class="col-md-5 col-sm-4">
		        <div class="form-group">
							<%= f.text_field :email_label, :value => @contact.email_label.blank? ? "#{@contact.correct_name} Email:" : @contact.email_label, class: "form-label-3 null" %>
		          <%= f.text_field :email, class: "form-control" %>
		        </div>
		      </div>   
		    </div>

				<div class="<%= 'null' if @contact.spouse_email.blank? %>">
		      <div class="col-md-5 col-sm-4 col-lg-offset-1">
		        <div class="form-group">
							<%= f.text_field :spouse_email_label, :value => @contact.spouse_email_label.blank? ? "#{@contact.spouse_correct_name} Email:" : @contact.spouse_email_label, class: "form-label-3" %>
	            <%= f.text_field :spouse_email, class: "form-control" %>
		        </div>
		      </div> 
		    </div>
   	 	</div>  <!-- row -->

    	<div class="row">
    		<div class="<%= 'null' if @contact.web_address.blank? %>">
	      	<div class="col-md-5 col-sm-4">
	        	<div class="form-group">
	          	<%= f.text_field :web_address_label, :value => @contact.web_address_label.blank? ? "Web Address" : @contact.web_address_label, class: "form-label-3" %>
	          	<%= f.text_field :web_address, class: "form-control" %>
	        	</div>
	      	</div>
	      </div>

				<div class="<%= 'null' if @contact.alt_email.blank? %>">
	      	<div class="col-md-5 col-sm-4 col-lg-offset-1">
	        	<div class="form-group">
	          	<%= f.text_field :alt_email_label, :value => @contact.alt_email_label.blank? ? "Alt Email:" : @contact.alt_email_label, class: "form-label-3" %>
	          	<%= f.text_field :alt_email, class: "form-control" %>
	        	</div>
	      	</div>  
	      </div> 
    	</div>  <!-- row -->
		
		  <div class="row">
			  <div class="col-lg-1">
				  <div class="form-group">
						<%= f_select f, @contact, :urg, get_urg_array, {:f_label => "Urgent:"} %>
				  </div>
			  </div>

				<div class="<%= 'null' if @contact.additional_info.blank? && @contact.additional_info_label.blank? %>">
					<div class="<%= 'urgent' if @contact.urg %>">
					  <div class="col-md-10">
						  <div class="form-group">
							  <%= f.text_field :additional_info_label, placeholder: 'Additional Info:', class: "form-label-3" %>
							  <%= f.text_area :additional_info, class: "form-control", :rows => 5 %>
					  	</div>
				  	</div>
				  </div>
				</div>
		  </div>  <!-- row -->

			<p class="submits">
				<%= link_to 'Cancel', contacts_path, :class => 'btn btn-mini btn-danger', :data => { :confirm => "Are you sure you want to go back?" } %>
				<%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
			</p>

  </div>  <!-- CONTAINER -->
<% end %>

	<div class="col-md-6">
		<div class="center">
			<h2>Notes</h2>
		</div>
		<div class="scroll">
			<%= render :partial => 'comments/form', :locals => { :comment => @new_comment }, class: "scroll" %>
			<%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
		</div>
	</div>

	<div class="col-md-6">
		<div class="center">
			<h2>Dropbox</h2>
		</div>
			<div class="col-md-3 col-md-offset-5">
				<br>
					<%= link_to '~ A - Z', 'https://www.dropbox.com/home/STERLING%20FINANCIAL/~%20A-Z', target: '_blank' %>
				<br>
				<br>
					<%= link_to '~ SF ID', 'https://www.dropbox.com/home/STERLING%20FINANCIAL/~%20SF%20ID', target: '_blank' %>
			</div>
	</div>
