<h2>Add a new user</h2>

<%= form_for @admin_user do |f| %>

	<div class="row">
  	<div class="col-md-4 col-md-offset-4">
			<%= f_text_field f, @admin_user, :name, {:f_label => "Name:", :class => "form-control-2"} %>
		</div>
	</div>

	<div class="row">
  	<div class="col-md-4 col-md-offset-4">
			<%= f_text_field f, @admin_user, :email, { :f_label => "Email:"} %>
		</div>
	</div>

	<div class="row">
  	<div class="col-md-4 col-md-offset-4">
			<%= f_select f, @admin_user, :access_level, get_access_level_array, {:f_label => "Role:"} %>
		</div>
	</div>

	<div class="row">
  	<div class="col-md-4 col-md-offset-4">
			<%= f_password_field f, @admin_user, :password, {:f_label => "Password:"} %>
		</div>
	</div>

	<div class="row">
  	<div class="col-md-4 col-md-offset-4">
			<%= f_password_field f, @admin_user, :password_confirmation, {:f_label => "Repeat Password:"} %>
		</div>
	</div>

	<br>

	<div class="col-md-4 col-md-offset-4">
		<p class="submits">
			<%= link_to 'Cancel', admin_users_path, :class => 'btn btn-mini btn-danger' %>
			<%= f.submit "Add new user", :class => "btn btn-mini btn-primary" %>
		</p>
	</div>

<% end %>