<h2>View user</h2>

<%= form_for @admin_user do |f| %>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<div class="form-group">
  				<%= f.label "Name:", class: "form-label" %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
		</div>
  		<div class="col-lg-4 col-lg-offset-4">
  			<div class="form-group">
  				<%= f.label "Email:", class: "form-label" %>
				<%= f.text_field :email, class: "form-control" %>
			</div>
		</div>
	</div>


	<% if @session_user.is_admin? && (@admin_user.is_admin? == false || AdminUser.has_more_than_one_admin) %>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<div class="form-group">
  					<%= f.label "Role:", class: "form-label" %>
					<%= f.select :access_level, get_access_level_array, class: "form-control" %>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<p class="submits">
			  	<%= link_to 'Cancel', admin_users_path, :class => 'btn btn-mini btn-danger' %>
				<%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
			</p>
		</div>
	</div>
<% end %>
	
	<br>

<% if @session_user.is_admin? %>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<h2>Reset password <small>(admin action &mdash; use carefully)</small></h2>
		</div>
	</div>


	<%= form_for @admin_user, :url => reset_password_admin_user_path(@admin_user) do |f| %>
		<div class="row">
  			<div class="col-lg-4 col-lg-offset-4">
  				<div class="form-group">
  					<%= f.label "New password:", class: "form-label" %>
					<%= f.password_field :password, class: "form-control" %>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-4">
				<div class="form-group">
					<%= f.label "Confirm password:", class: "form-label" %>
					<%= f.password_field :password_confirmation, class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="row">
  			<div class="col-lg-4 col-lg-offset-4">
				<p class="submits">
					<%= f.submit "Reset Password", :class => "btn btn-mini btn-warning" %>
				</p>
			</div>
		</div>
	<% end %>
	

<% elsif @session_user.id == @admin_user.id %>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<h2>Change password</h2>
		</div>
	</div>


	<%= form_for @admin_user, :url => update_password_admin_user_path(@admin_user) do |f| %>
		<div class="row">
  			<div class="col-lg-4 col-md-offset-4">
  				<div class="form-group">
					<%= f.label :form_current_password, "Current password", class: "form-label" %>
					<%= f.password_field :form_current_password, class: 'form-control' %>
				</div>
			</div>
  			<div class="col-lg-4 col-md-offset-4">
  				<div class="form-group">
  					<%= f.label "New password", class: "form-label" %>
					<%= f.password_field :password, class: "form-control" %>
				</div>
			</div>
			<div class="col-lg-4 col-md-offset-4">
				<div class="form-group">
					<%= f.label "Repeat new password", class: "form-group" %>
					<%= f.password_field :password_confirmation, class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 col-md-offset-4">
				<p class="submits">
					<%= f.submit "Update Password", :class => "btn btn-mini btn-primary" %>
				</p>
			</div>
		</div>
	<% end %>
<% end %>
