<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= search_form_for @search do |f| %>
            <div class="form-inline button">
              <%= f.text_field :name_or_company_or_last_name_or_cell_phone_or_email_or_spouse_email_or_goes_by_or_spouse_first_name_or_spouse_last_name_or_spouse_goes_by_or_sf_id_cont, class: "form-control", placeholder: "Search Contacts:" %>
              <%= f.submit "Search", class: "btn btn-default" %>
            </div>
          <% end %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @contact %>
          <li><%= link_to(show_row_icon("trash"), contact_path(@contact), :method => :delete, :data => { :confirm => "Are you sure you want to delete this contact?" }) %></li>
          <li><%= link_to "#{show_icon "plus-sign"}New Contact".html_safe, new_contact_path, :data => { :confirm => "Are you sure you want to go back without saving this contact?" } %></li>
          <li><%= link_to "#{show_icon "list"}Contacts List".html_safe, contacts_path, :data => { :confirm => "Are you sure you want to go back without saving this contact?" } %></li>
          <% if @session_user.is_admin? %>
            <li><%= link_to "#{show_icon('user')}New User".html_safe, new_admin_user_path, :data => { :confirm => "Are you sure you want to go back without saving this contact?" } %></li>
            <li><%= link_to "#{show_icon('list')}Users List".html_safe, admin_users_path, :data => { :confirm => "Are you sure you want to go back without saving this contact?" } %></li>
          <% end %>
        <% else%>
          <li><%= link_to "#{show_icon "plus-sign"}Export Options".html_safe, contacts_export_options_path %></li>
          <li><%= link_to "#{show_icon "download-alt"}Export Data".html_safe, contacts_export_path(format: "csv") %></li>
          <li><%= link_to "#{show_icon "plus-sign"}New Contact".html_safe, new_contact_path %></li>
          <li><%= link_to "#{show_icon "list"}Contacts List".html_safe, contacts_path %></li>
          <% if @session_user.is_admin? %>
            <li><%= link_to "#{show_icon('user')}New User".html_safe, new_admin_user_path %></li>
            <li><%= link_to "#{show_icon('list')}Users List".html_safe, admin_users_path %></li>
          <% end %>
        <% end %>



      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>