<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<title><%= generate_page_title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var current_controller = "<%= controller_name %>";
  </script>

</head>
  <body>

  <%= render 'layouts/application_nav' %>

    <div class="container">
      <div id="content">
        <div class="row">
          <% if content_for?(:sidebar) %>
             <div id="right-column" class="col-md-2">
                <ul class="nav nav-pills nav-stacked content-bottom-padding">
                  <%= yield :sidebar %>
                </ul>
            </div>

            <div id="left-column" class="col-md-10 content-bottom-padding">
          <% else %>
            <div class="col-lg-12 content-bottom-padding">
          <% end %>

           <% unless flash.empty? %>
            <script type="text/javascript">
                <% flash.each do |f| %>
                <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
                 toastr['<%= type %>']('<%= f[1] %>');
                <% end %>
            </script>
           <% end %>
            
            <%= yield %>
            
            </div>

        </div>
      </div>
    </div>
  </body>

</html>
